* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 72% 54%/151% 151% no-repeat;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fa-facebook-square {
  color: #3b5998;
  background-image: linear-gradient(to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}

@media (min-width: 300px) {
  .modal-content.sign-up-container {
    min-width: 80%;
  }
}
@media (min-width: 768px) {
  .modal-content.sign-up-container {
    min-width: 140%;
  }
}
@media (min-width: 300px), (min-width: 768px) {
  .modal-content.sign-up-container .modal-body .login-with {
    flex-flow: column;
    min-width: 100%;
  }
  .modal-content.sign-up-container .modal-body .login-with button {
    min-width: 100%;
  }
  .modal-content.sign-up-container .modal-body .needs-validation {
    min-width: 100%;
  }
  .modal-content.sign-up-container .modal-body .form-floating {
    min-width: 100%;
  }
  .modal-content.sign-up-container .modal-body .form-floating label {
    margin-bottom: 1%;
  }
  .modal-content.sign-up-container .modal-body .form-floating .form-control .validate {
    max-width: 100%;
  }
  .modal-content.sign-up-container .modal-body .checkbox-terms-services {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .modal-content.sign-up-container .modal-body .login-with {
    flex-flow: row nowrap;
  }
  .modal-content.sign-up-container .modal-body .login-with button {
    min-width: 45.5%;
  }
  .modal-content.sign-up-container .modal-body .needs-validation.password {
    max-width: 45.5%;
  }
  .modal-content.sign-up-container .modal-body .needs-validation.passwordConfirmation {
    max-width: 45.5%;
  }
  .modal-content.sign-up-container .modal-body .needs-validation {
    min-width: 45.5%;
  }
  .modal-content.sign-up-container .modal-body .form-floating {
    min-width: 45.5%;
  }
  .modal-content.sign-up-container .modal-body .form-floating label {
    margin-bottom: 1.5%;
  }
  .modal-content.sign-up-container .modal-body .form-floating .form-control .validate {
    max-width: 45.5%;
  }
  .modal-content.sign-up-container .modal-body .checkbox-terms-services {
    max-width: 50%;
  }
}
.modal-content.sign-up-container {
  padding: 4.7% 7%;
  border-radius: 20px;
}
.modal-content.sign-up-container p {
  font-size: 16px;
}
.modal-content.sign-up-container p a {
  font-size: 16px;
}
.modal-content.sign-up-container a {
  color: #BE1827;
  text-decoration: none;
}
.modal-content.sign-up-container a:hover {
  text-decoration: underline;
}
.modal-content.sign-up-container .modal-header {
  border-bottom: none;
}
.modal-content.sign-up-container .modal-header span {
  font-size: 36px;
  font-weight: bold;
}
.modal-content.sign-up-container .modal-body {
  flex-flow: row wrap;
}
.modal-content.sign-up-container .modal-body .login-with button {
  margin-bottom: 2%;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
  background: white;
}
.modal-content.sign-up-container .modal-body .login-with button i {
  margin-right: 4%;
}
.modal-content.sign-up-container .modal-body .hr {
  font-size: 16px;
  color: #4E4E4E;
  margin: 1% auto;
}
.modal-content.sign-up-container .modal-body hr {
  width: 45.5%;
}
.modal-content.sign-up-container .modal-body .form-floating.password {
  display: grid;
  grid-template-areas: "l l" "i b" "w w";
  grid-template-columns: auto 15%;
}
.modal-content.sign-up-container .modal-body .form-floating.password label {
  grid-area: l;
}
.modal-content.sign-up-container .modal-body .form-floating.password .form-control {
  grid-area: i;
}
.modal-content.sign-up-container .modal-body .form-floating.password .btn {
  margin-left: -2%;
  grid-area: b;
  border: 1px solid #ced4da;
  border-left: transparent;
}
.modal-content.sign-up-container .modal-body .form-floating.password .btn:focus {
  box-shadow: none;
}
.modal-content.sign-up-container .modal-body .form-floating.password .invalid-feedback, .modal-content.sign-up-container .modal-body .form-floating.password .valid-feedback {
  grid-area: w;
}
.modal-content.sign-up-container .modal-body .form-floating {
  font-size: 14px;
  color: #7D7F87;
}
.modal-content.sign-up-container .modal-body .form-floating .invalid-feedback, .modal-content.sign-up-container .modal-body .form-floating .valid-feedback {
  font-size: 13px;
}
.modal-content.sign-up-container .modal-body .form-floating .form-control {
  font-size: 16px;
}
.modal-content.sign-up-container .modal-body .checkbox-terms-services .termsPolicy {
  font-size: 14px;
  color: #4E4E4E;
}
.modal-content.sign-up-container .modal-body .checkbox-terms-services .checkbox {
  font-size: 14px;
  flex-flow: row-reverse;
  justify-content: left;
}
.modal-content.sign-up-container .modal-body .checkbox-terms-services .checkbox .checkmark {
  margin-right: 6px;
  height: 17px;
  width: 17px;
  background: transparent;
  border: 1px solid #ACACAC;
  border-radius: 2px;
  justify-content: center;
}
.modal-content.sign-up-container .modal-body .checkbox-terms-services .checkbox .checkmark:after {
  content: "";
  display: block;
  margin-top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal-content.sign-up-container .modal-body .checkbox-terms-services .checkbox .checkmark:checked {
  background-color: #BE1827;
}
.modal-content.sign-up-container .modal-body .checkbox-terms-services .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.modal-content.sign-up-container .modal-body .checkbox-terms-services .checkbox input:checked ~ .checkmark {
  background-color: #BE1827;
}

.modal-footer {
  border-top: none;
}
.modal-footer button {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  min-height: 59px;
  background: #BE1827;
}

/*# sourceMappingURL=app.css.map */
