* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.signUpContainer {
  max-width: 760px;
  width: 760px;
  margin: 0 auto;
  padding: 5.2% 8.5%;
  border-radius: 20px;
}
.signUpContainer p {
  font-size: 16px;
}
.signUpContainer p a {
  font-size: 16px;
}
.signUpContainer a {
  color: #BE1827;
  text-decoration: none;
}
.signUpContainer a:hover {
  text-decoration: underline;
}
.signUpContainer .modal-header {
  border-bottom: none;
}
.signUpContainer .modal-header span {
  font-size: 36px;
  font-weight: bold;
}
.signUpContainer .modal-body {
  flex-flow: row wrap;
}
.signUpContainer .modal-body .loginWith {
  min-width: 100%;
}
.signUpContainer .modal-body .loginWith button {
  min-height: 59px;
  min-width: 45.5%;
  margin-bottom: 2%;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
  background: white;
}
.signUpContainer .modal-body .loginWith button i {
  margin-right: 4%;
}
.signUpContainer .modal-body .fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 72% 54%/151% 151% no-repeat;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.signUpContainer .modal-body .fa-facebook-square {
  color: #3b5998;
  background-image: linear-gradient(to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}
.signUpContainer .modal-body .hr {
  font-size: 16px;
  color: #4E4E4E;
}
.signUpContainer .modal-body hr {
  min-width: 45.5%;
}
.signUpContainer .modal-body .form-floating {
  font-size: 14px;
  color: #7D7F87;
  min-width: 45.5%;
}
.signUpContainer .modal-body .form-floating .form-control {
  margin-top: -2%;
  font-size: 16px;
  min-height: 59px;
}
.signUpContainer .checkboxTermsServices {
  max-width: 50%;
}
.signUpContainer .checkboxTermsServices .termsPolicy {
  font-size: 14px;
  color: #4E4E4E;
}
.signUpContainer .checkbox {
  font-size: 14px;
  flex-flow: row-reverse;
  justify-content: left;
}
.signUpContainer .checkbox .checkmark {
  margin-right: 6px;
  height: 17px;
  width: 17px;
  background: transparent;
  border: 1px solid #ACACAC;
  border-radius: 2px;
  justify-content: center;
}
.signUpContainer .checkbox .checkmark:after {
  content: "";
  display: block;
  margin-top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.signUpContainer .checkbox .checkmark:checked {
  background-color: #BE1827;
}
.signUpContainer .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.signUpContainer .checkbox input:checked ~ .checkmark {
  background-color: #BE1827;
}

.modal-footer {
  border-top: none;
}
.modal-footer button {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  min-height: 59px;
  background: #BE1827;
}

/*# sourceMappingURL=app.css.map */
