@import "signUp", "signIn", "profile", "cardsVer1", "cardsVer2", "settings", "editProfile", "ourTeam";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.main-container {

  div {
    flex-flow: column;
    width: 200px;
  }

  * {
    margin: 10px;
    border-radius: 10px;
  }
}

.container {
  min-width: 100%;
  padding: 2% 6%;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 72% 54%/151% 151% no-repeat;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fa-facebook-square.blue {
  color: #3b5998;
  background-image: linear-gradient(to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}


// -------------------------------CheckBox Custom
.checkbox-terms-services {

  .termsPolicy {
    color: #4E4E4E;
  }

  label {
    font-size: 14px;
    flex-flow: row-reverse;
    justify-content: left;

    .checkmark {
      margin-right: 6px;
      height: 17px;
      width: 17px;
      background: transparent;
      border: 1px solid #ACACAC;
      border-radius: 2px;
      justify-content: center;

      &:after {
        content: "";
        display: block;
        margin-top: 1px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:checked {
        background-color: #BE1827;
      }
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: #BE1827;
      }
    }
  }
}

// --------------------------------------End of CheckBox Custom
//==========favorite icon-checkboxed=======================================
[id="heart"] {
  display: none;
}

[for="heart"] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 1.5em;
  align-self: center;
  transition: color 0.2s ease-in-out;
}

[for="heart"]:hover {
  color: grey;
}

[for="heart"]::selection {
  color: unset;
  background: transparent;
}

[for="heart"]::moz-selection {
  color: unset;
  background: transparent;
}

[id="heart"]:checked + label {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}

//end of Favorite icon-checkboxed
