* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  flex-flow: column;
  width: 200px;

  * {
    margin: 10px;
    border-radius: 10px;
  }
}

.container {
  min-width: 100%;
  padding: 2% 6%;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 72% 54%/151% 151% no-repeat;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fa-facebook-square {
  color: #3b5998;
  background-image: linear-gradient(to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}

@import "signUp", "signIn", "profile","card";