@media (min-width: 300px) {
  .modal-content.sign-up-container {
    min-width: 80%;
  }
}

@media (min-width: 768px) {
  .modal-content.sign-up-container {
    min-width: 140%;
  }
}

// Medium devices (300px and up, 768px and up)
@media (min-width: 300px), (min-width: 768px) {

  .modal-content.sign-up-container {

    .modal-body {

      .login-with {
        flex-flow: column;
        min-width: 100%;

        button {
          min-width: 100%;
        }
      }

      .needs-validation {
        min-width: 100%;
      }

      .form-floating {
        min-width: 100%;

        label {
          margin-bottom: 1%;
        }

        .form-control {


          .validate {
            max-width: 100%;
          }
        }
      }

      .checkbox-terms-services {
        max-width: 100%;
      }
    }
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .modal-content.sign-up-container {

    .modal-body {

      .login-with {
        flex-flow: row nowrap;

        button {
          min-width: 45.5%;
        }
      }

      .needs-validation.password {
        max-width: 45.5%;
      }

      .needs-validation.passwordConfirmation {
        max-width: 45.5%;
      }

      .needs-validation {
        min-width: 45.5%;
      }

      .form-floating {
        min-width: 45.5%;

        label {
          margin-bottom: 1.5%;
        }

      }

      .checkbox-terms-services {
        max-width: 50%;
      }
    }
  }
}

//end of Large devices (desktops, 992px and up)

.modal-content.sign-up-container {
  padding: 4.7% 7%;
  border-radius: 20px;

  p {
    font-size: 16px;

    a {
      font-size: 16px;
    }
  }

  a {
    color: #BE1827;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .modal-header {
    border-bottom: none;

    span {
      font-size: 36px;
      font-weight: bold;
    }

    button {
      position: absolute;
      top: 4%;
      right: 4%;
    }

  }

  .modal-body {
    flex-flow: row wrap;

    .login-with {

      button {
        margin-bottom: 2%;
        border: 1px solid #ced4da;
        border-radius: 4px;
        font-size: 16px;
        background: white;

        i {
          margin-right: 4%;
        }
      }
    }

    .hr {
      font-size: 16px;
      color: #4E4E4E;
      margin: 1% auto;
    }

    hr {
      width: 45.5%;
    }

    .form-floating.password {
      display: grid;
      grid-template-areas: 'l l' 'i b' 'w w';
      grid-template-columns: auto 15%;

      label {
        grid-area: l;
      }

      .form-control {
        grid-area: i;
      }

      .btn {
        margin-left: -2%;
        grid-area: b;
        border: 1px solid #ced4da;
        border-left: transparent;

        &:focus {
          box-shadow: none;
        }

      }

      .invalid-feedback, .valid-feedback {
        grid-area: w;
      }
    }


    .form-floating {
      font-size: 14px;
      color: #7D7F87;


      .invalid-feedback, .valid-feedback {
        font-size: 13px;
      }

      .form-control {
        font-size: 16px;

      }
    }

    // -------------------------------CheckBox Custom
    .checkbox-terms-services {

      .termsPolicy {
        font-size: 14px;
        color: #4E4E4E;
      }

      .checkbox {
        font-size: 14px;
        flex-flow: row-reverse;
        justify-content: left;

        .checkmark {
          margin-right: 6px;
          height: 17px;
          width: 17px;
          background: transparent;
          border: 1px solid #ACACAC;
          border-radius: 2px;
          justify-content: center;

          &:after {
            content: "";
            display: block;
            margin-top: 1px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          &:checked {
            background-color: #BE1827;
          }
        }

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;

          &:checked ~ .checkmark {
            background-color: #BE1827;
          }
        }
      }
    }

    // --------------------------------------End of CheckBox Custom
  }
}

.modal-footer {
  border-top: none;

  button {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    min-height: 59px;
    background: #BE1827;
  }
}


